.nav {
    background-color: #5b5858;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .nav .logo-name {
    font-size: xx-small;
    padding-bottom: 15px;
  }
  
  .logo1 {
    display: flex;
    border-radius: 50%;
    height: 50px;
    width: 60px;
  }
  
  .logo {
    color: cornflowerblue;
    margin-left: 10px;
  }
  .login:hover{
    color:rgb(33, 33, 228);
  }
  .login{
    margin-left:750px ;
    margin-top: 15px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
  }
  .nav-content {
    display: flex;
    align-items: center;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    margin-left: 100px;
    padding: 0;
  }
  
  .nav .search {
    border-radius: 20px;
    border: 0;
  }
  
  .user-icon-image {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 1220px;
    top: 9px;
  }
  
  .notification-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 580px;
    top: 8px;
  }
  
  .user-name {
    margin-left: 10px;
    margin-top: 18px;
    text-transform: uppercase;
    position: absolute;
    left: 1260px;
    top: 5px;
  }
  
  .toggle {
    margin-bottom: 13px;
    margin-left: 10px;
  }
  
  .li-search {
    margin-bottom: 15px;
  }
  
  .mobile-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .mobile-nav ul li {
    margin-top: 10px;
  }
  
  
  @media (max-width: 768px) {
    .nav ul {
      margin-left: 10px; 
    }
  
    .user-icon-image,
    .notification-icon,
    .user-name {
      position: static; 
      margin: 5px 10px; 
    }
  }
  
  